PORT=your_port_here
FRONTEND_URL=your_frontend_url_here
MONGODB_URI=your_mongodb_uri_here
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
EMAIL=your_email_here
PASS=your_email_password_here
TWILIO_SID=your_twilio_sid_here
TWILIO_AUTH=your_twilio_auth_here
TWILIO_PHONE=your_twilio_phone_here
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here
RAZORPAY_KEY_ID=your_razorpay_key_id_here
RAZORPAY_KEY_SECRET=your_razorpay_key_secret_here